body {
  font-family: "Roboto", sans-serif;
  background-color: #fff1ee;
}

main {
  padding: 10px 0 20px 0;
}

p,
.degree,
.degree-unit,
.weather-information-day {
  color: #fff1ee;
}

.city-heading {
  font-size: 40px;
}

.weather-container {
  background: linear-gradient(
    179.4deg,
    rgb(253, 240, 233) 2.2%,
    rgb(255, 194, 203) 96.2%
  );
  padding: 40px;
  border-radius: 30px;
  margin: 50px auto;
  max-width: 600px;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
}

.search-bar {
  border-bottom: 1px solid #fdeee8;
  padding-bottom: 40px;
}

.search-bar-input {
  width: 75%;
  font-size: 16px;
  padding: 15px 20px;
  border: none;
  border-radius: 10px;
  background-color: #fff1ee;
}

.search-bar-button {
  font-size: 16px;
  padding: 15px 30px;
  margin-left: 7px;
  border: none;
  border-radius: 10px;
  background-color: #ffc2cb;
  color: #fff;
  cursor: pointer;
}

.search-bar-button:active {
  background-color: #ffb0bc;
}

.weather-details {
  display: flex;
  justify-content: space-between;
}

.temperature {
  display: flex;
  align-items: center;
}

.degree {
  font-size: 90px;
  font-weight: bold;
}

.degree-icon {
  width: 90px;
  height: 90px;
  margin-right: 5px;
}

.degree-unit {
  font-size: 30px;
  margin-bottom: 40px;
}

.weather-forecast-row {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 10px;
  margin: 20px 0;
}

.weather-forecast-weekday {
  text-align: center;
}

.weather-forecast-day {
  color: #ffefec;
  font-size: 16px;
}

.weather-forecast-icon {
  width: 90px;
  height: 90px;
  display: block;
  margin: 0 auto;
}

.weather-forecast-temperatures {
  display: flex;
  justify-content: center;
}

.weather-forecast-temperature {
  padding: 0 10px;
  color: #b8506f;
}

footer {
  font-size: 14px;
  text-align: center;
  color: rgba(0, 0, 0, 0.6);
  border-top: 1px solid #fdeee8;
  padding-top: 30px;
}

a,
.city-heading,
strong,
.degree,
.degree-unit {
  color: #b84f6f;
}
